.policy-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.policy-text-container {
  position: sticky;
  overflow-y: auto;
  max-width: 1000px;
  max-height: 800px;
  border-radius: 20px;
  background-color: white;
  padding: 15px;
}

.policy-text {
  font-size: 1.5vw;
  color: black;
  text-align: justify;
  line-height: 120%;
}
