.buy-course-main-container {
    position: relative;
    margin-top: 20vw;
    margin-bottom: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(233, 47, 115);
    padding-left: 20px;
    padding-right: 20px;
}

.buy-course-main-container-with-spots {
    position: relative;
    display: flex;
    justify-content: center;
}

.buycourse-spot {
    height: 65vw;
    opacity: 0.7;
}

.buy-text-container {
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 3vw;
    display: flex;
    flex-direction: column;
}

.text-buy {
    margin-top: 15px;
    margin-bottom: 15px;
}

.photo-img {
    height: 32vw;
}

.spot-buy-1 {
    position: absolute;
    left: -20vw;
}

.spot-buy-2 {
    position: absolute;
    top: 15vw;
    left: 70vw;
}